/* 헤더, 사이드바 구현 CSS*/
.list { list-style: none; margin-bottom: 10px; }
a { text-decoration-line: none; }
summary { list-style-type: none; }

.top_bar { background-color: white; position: fixed; left: 0; top: 0; right: 0; height: 75px; border-bottom: 1px solid; }
.side_bar { position: fixed; left: 0; top: 75px; bottom: 0; width: 200px; border-right: 1px solid; }
.container { margin-top: 75px; margin-left: 200px; }

/* 수입 지출 내역서 css */

