/* 선수 삭제 CSS */

body.player-delete-page {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.player-delete-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.player-delete-container p {
    color: #333;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.player-delete-btn {
    background-color: gray;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    border-radius: 12px;
}

.player-delete-btn:hover {
    background-color: darkgray;
}