@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px; /* 섹션 간의 간격 조절 */
    padding: 20px;
    margin-left: 280px; /* 사이드바 너비와 맞춤 */
    margin-right: -82px; /* 오른쪽 여백을 왼쪽 여백과 맞추기 위해 지정해놓음 */
    margin-top: 95px; /* 상단바 너비와 맞춤 */
}

/* 섹션 스타일 */
.top-section {
    display: block;
}

.middle-section, .bottom-section {
    display: block;
}

.profile-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; /* 프로필 카드 간의 간격 */
}

.profile-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 170px; /* 카드 너비 조정 */
    height: 280px; /* 세로 직사각형 모양을 위한 높이 설정 */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.profile-image {
    background-color: #858585;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info {
    flex-grow: 1; /* flex : 1 속성을 주면 넓이와 높이가 컨테이너에 딱 맞게 채워진다. */
}

.profile-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

h3 {
    color: #858585;
    margin-top: 0;
}

pre {
    color: #858585;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼 간 간격 */
    margin-top: 20px; /* 버튼을 조금 아래로 내리기 위해 추가 */
}

/* 스태프 수정/삭제 버튼 스타일링 */
.staffbtn,
.injurybtn {
	border: none; /* 테두리 제거 */
    color: white; /* 글자색 */
    padding: 10px 20px;
    text-align: center; /* 텍스트 중앙 정렬 */
    text-decoration: none; /* 텍스트 장식 제거 */
    display: inline-block; /* 인라인 블록 요소 */
    font-size: 14px; /* 글자 크기 */
    margin: 4px 2px; /* 마진 */
    cursor: pointer; /* 커서 포인터 */
    border-radius: 12px; /* 모서리 둥글게 */
    background-color: #858585; /* 버튼 배경 색상 그레이로 설정 */
    transition: background-color 0.3s ease, transform 0.3s ease; /* 애니메이션 효과 추가 */
}

.staffbtn:hover,
.injurybtn:hover {
    background-color: #ddd; /* 호버시 배경 색상 변경 */
    transform: scale(1.05); /* 호버시 약간 커지는 효과 */
}

/* 스태프 추가 버튼 스타일링 */
.staffadd,
.injuryadd {
    padding: 15px 30px; /* 버튼 크기 조정 */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 30px; /* 모서리를 더 둥글게 */
    width: auto; /* 버튼 너비를 자동으로 조정 */
    background: linear-gradient(90deg, #555555, #333333); /* 그라디언트 배경 */
    color: white; /* 텍스트 색상 */
    border: none; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* 애니메이션 효과 추가 */
    float: right; /* 오른쪽에 위치 */
}

.staffadd:hover, 
.injuryadd:hover {
    background: linear-gradient(90deg, #333333, #555555); /* 호버시 그라디언트 배경 변경 */
    transform: translateY(-3px) scale(1.05); /* 호버시 약간 위로 올라가고 커지는 효과 */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); /* 호버시 그림자 효과 증가 */
}

/* 스태프 추가 폼 스타일링 */
body.staff-add-page,
body.injury-add-page,
body.stat-add-page {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.staff-container,
.injury-container,
.stat-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}


.staff-add-container h1,
.injury-add-container h1,
.stat-add-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.staff-add-container label,
.injury-add-container label,
.stat-add-container label {
    display: block;
    margin-top: 10px;
    color: #666;
}

.staff-add-container input[type="text"],
.staff-add-container input[type="date"],
.staff-add-container select,
.injury-add-container input[type="text"],
.injury-add-container input[type="date"],
.injury-add-container select,
.stat-add-container input[type="text"],
.stat-add-container input[type="date"] {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.staff-add-btn,
.injury-add-btn,
.stat-add-btn {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #858585;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.staff-add-btn:hover,
.injury-add-btn:hover,
.stat-add-btn:hover {
    background-color: #f4f4f9;
    transform: scale(1.05);
}

.staff-add-btn.delete,
.injury-add-btn.delete {
    background-color: #858585;
}

.staff-add-btn.delete:hover,
.injury-add-btn.delete:hover {
    background-color: #333;
}



/* 성공 메세지 폼 스타일링 */
.success-message {
    background-color: #858585;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.button-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}